.bar {
  height: 4px;
  border-radius: 4px;

  margin-bottom: 0.5rem;
}

.backgroundBar {
  @extend .bar;
  background-color: #c3c3c3;
}

.current {
  @extend .bar;
  background-color: #ff0000;
}

.chapter {
  cursor: pointer;
  padding-bottom: 4px;
}
.activeChapter {
  @extend .chapter;
  padding-bottom: 0;
  label {
    font-weight: bold;
    text-decoration: underline;
  }
  div {
    height: 8px;
  }
}

.chapterLabel {
  cursor: pointer;
}

.chapterBtn {
  display: none;
}

.deleteBtn {
  float: right;
}
