.chapter,
.activeChapter {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-content: center;
  grid-gap: 20px;
  border-top: 1px solid var(--off-white);
  border-radius: 3px;
  margin: 5px 5px;
  height: 70px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}
.activeChapter {
  font-weight: bold;
  background: linear-gradient(to right, black, var(--dark-grey));
}

.newChapter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  justify-items: center;
  align-items: end;
  grid-gap: 5px;
  border-top: 1px solid grey;
  padding: 5px;
  label {
    display: flex;
    flex-direction: column;
  }
  input[type="float"] {
    width: 60px;
  }
}

.chapterControl {
  justify-self: center;
  align-self: center;
  color: var(--off-white);
  border: 1px solid var(--off-white);
  border-radius: 10px;
  padding: 10px 15px;
  height: 50px;
}
.chapterControl:hover {
  opacity: 80%;
}

.save {
  @extend .chapterControl;
  background-color: green;
}
.cancel {
  @extend .chapterControl;
  background-color: grey;
}
.save,
.cancel {
  justify-self: end;
}

.error {
  grid-column: 1 / -1;
}
