.login {
  position: absolute;
  bottom: 0;
  right: 0;

  --display: hidden;
  &:hover,
  &:focus {
    --display: visible;
  }

  a {
    display: inline;
    visibility: var(--display);
  }
}

.loggedIn {
  border-radius: 50%;
  background-color: red;
  height: 5px;
  width: 5px;
  margin-right: 5px;
  margin-left: auto;
}
