.chaptersList {
  margin: 1rem 0;
  padding: 0;
}

.chapterListItem {
  list-style: none;
  padding: 0 12px;
  padding-bottom: 1rem;

  &:hover {
    background-color: #5a5757;
    border-radius: 4px;
  }
}
