.tabs {
  border-radius: 5px;
  border: 1px solid white;
}

.tabsList {
  height: auto;
  padding-left: 10px;
}

.tab[aria-selected="true"] {
  font-weight: bold;
  backdrop-filter: brightness(140%);
}
