.tune {
  padding: 10px;

  border: 1px solid black;
  border-radius: 10px 10px 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  label {
    margin-right: 10px;
  }
}
