.tube {
}

.playerAndControls {
  padding-right: 15px;
  padding-bottom: 15px;
}

.playerAndVolume {
  display: flex;
  flex-direction: row;
}

.playerAndDuration {
  display: flex;
  flex-direction: column;
}

.volume {
  margin: 0 15px;
}

.volumeHidden {
  @extend .volume;
  visibility: hidden;
}

.progress {
  margin-top: 15px;
}

.progressHidden {
  @extend .progress;
  visibility: hidden;
}

.tubeControls {
  display: flex;
  flex-direction: column;
}
