.main {
  display: grid;
  grid-template-rows: 50px auto min-content;
  grid-gap: 20px;

  & > * {
    margin: 0 10px;
  }
}

.title {
  margin: 0;
  padding: 10px 10px;
  background: black;
  border-bottom: 1px solid var(--off-white);
}
