@import "rc-switch/assets/index.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --dark-grey: rgb(45, 45, 45);
  --off-white: rgb(230, 228, 228);
  background: var(--dark-grey);
  color: var(--off-white);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main, #__next {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
}

a {
  color: inherit;
}
